.main-container-view-profile{
    max-width: 800px;
    margin:10px auto;
    color: #fff;
    margin-top:90px
}
.view-profile-profile{
    width:150px;
    height:150px
}
.view-profile-top{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom:20px;
    border-bottom: 2px solid var(--gray);
}
.view-profile-img-container{
    margin:0px 0px;
    flex-basis: 200px;
}
.view-profile-name{
    font-size: 28px;
    line-height:32px;
    margin:10px 0px
}
.view-profile-container1{
    flex-basis: 500px;
}
.whatsapp-button{
    background-color: green;
    color: white;
    width:130px;
    height:40px;
    display:flex;
    flex-direction: row;
    align-items:center;
    border-radius: 20px;
    padding:0px 10px
}
.whatsapp-button>a{
    color:white
}
.call-button{
 background-color: rgb(55, 57, 184);
 color: white;

 height:40px;
 display:flex;
 flex-direction: row;
 align-items:center;
 border-radius: 20px;
 padding:0px 10px;
 margin-left:20px
}
.call-button>a{
    color:white
}
.contact-icons{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    flex-wrap: wrap;


}
.profile-info-head{
    color: var(--green);
    font-size: 28px;
    line-height:90px
}
.profile-info-x{
   
    padding:0px;
    border-radius: 3px;
    padding:10px;

    font-size: 18px;

    cursor: pointer;
}
.datum-profile>div{
    border: none;
    outline: none;
    width:240px;
    padding:10px;
    border-radius: 4px;
    background-color:var(--green);
    color:white;
    padding-left:10px;
    font-weight: 400;
    margin-top:10px;
    justify-content: center;
}
.datum-profile>label{
    font-size:18px;
    font-weight:400
}
.data-profile{
    display:grid;
    grid-template-columns: auto auto; 
 }
 .datum-profile{
     margin:15px;
      
 }
 .whatsapp-btn-mobile{
    display:none
 }
 .call-btn-mobile{
     display:none
 }
 @media only screen  and (max-width:720px){
    .view-profile-top{
        display:flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        padding-bottom:20px;
        border-bottom: 2px solid var(--gray);
        margin:10px;
        flex-wrap: wrap;
    }
    .profile-info-head{
        color: var(--green);
        font-size: 28px;
        line-height:90px;
        text-align: center;
    }
    .data-profile{
        display:grid;
        grid-template-columns: auto ; 
        justify-content: center;
     }
     .view-profile-img-container{
        margin:0px 0px;
        flex-basis: 100px;
    }

    .view-profile-profile{
        width:100px;
        height:100px
    }
    .contact-icons{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        align-items:center;
        justify-content:center
    
    }
    .view-profile-container1{
       margin:2px;
       margin-left: 0px;
       align-items: center;
       text-align:center
    }
    .whatsapp-button{
        display: none
    }
    .call-button{
        display: none;
    }
    .whatsapp-btn-mobile{
        display:block
     }
     .call-btn-mobile{
         display:block
     }

 }